{
    "env": {
        "test": {
            "presets": [
                "es2015"
            ]
        },
        "development": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "ie": 8
                        },
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "external-helpers"
            ]
        }
    }
}